.feed-articles{
  &__item{
  }
  &__header{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
 
    &-content{
      display: flex;
      flex-direction: column;
      & h5{
        margin-bottom: 0;
      }
    }
  }
  &__text{
    text-indent: 20px
  }
}