@import '@app/app.scss';

.popular-tags {
  background-color: $grey-color;
  min-height: 300px;
  margin-right: 40px;
  border-radius: 20px;
  margin-top: 20px;
  &__header{
    display: flex;
    margin-left: 40px;
  }
}